html.dark { background: #121212; }

.font-noto-sans { font-family: 'Noto Sans JP', 'Noto Sans KR', sans-serif !important; }
.font-gugi { font-family: 'Gugi', cursive !important; }

.iframe-container {
  height: 100%;

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}